<table>   
  <tbody>     
    <tr>       
      <td><h1>Welcome!</h1></td>     
    </tr>    
    <tr>
      <td>
        <hr>
      </td>
    </tr> 
    <tr>
      <td>
        <h1><span style="color: red; border: 1px solid red; bored-radius: 4px;">BB</span></h1>
        <br>
      </td>
    </tr>
    <tr>       
      <td><h2>Thank you for signing up with <%= @appname %>!</h2></td>     
    </tr> 
    <tr>
      <td>
        <hr>
      </td>
    </tr>    
    <tr>       
      <td><p><strong>Your <%= @appname %> Team!</strong></p></td>   
    </tr>   
  </tbody> 
</table> 


